@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.error {
  color: #B30F3B;
  font-size: 12px;
  margin-left: 12px;
  margin-top: -18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-styled.swal2-confirm {
  background-color: #8d1031 !important;
}
.swal2-title{
  font-weight: 100 !important;
  font-style: italic;
}
